* {
  font-family: "Inter", sans-serif;
}

main {
  width: 320px;
  background-color: #1a1b21;
  margin: auto;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
main:hover {
  transform: translateY(-3px);
}
